# Ignore the .terraform directory inside the terraform folder
infra/.terraform/*

# Ignore .tfstate files in the terraform folder
infra/*.tfstate
infra/*.tfstate.*

# Ignore Terraform crash log files in the terraform folder
infra/crash.log
infra/crash.*.log

# Ignore all .tfvars files in the terraform folder
infra/*.tfvars
infra/*.tfvars.json

# Ignore override files in the terraform folder
infra/override.tf
infra/override.tf.json
infra/*_override.tf
infra/*_override.tf.json

# Ignore Terraform plan and lock files
infra/.terraform.tfstate.lock.info
infra/*.tfplan

# Ignore Terraform CLI configuration files
infra/.terraformrc
infra/terraform.rc

# Ignore node_modules in the client folder
client/node_modules/

# Ignore logs from npm, yarn, or other package managers in the client folder
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/lerna-debug.log*
client.pnpm-debug.log*

# Ignore other files related to runtime and coverage
client/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
client/pids
client/*.pid
client/*.seed
client/*.pid.lock
client/lib-cov
client/coverage
client/*.lcov
client.nyc_output
client/.grunt
client/bower_components
client.lock-wscript
client/build/Release
client/jspm_packages/
client/web_modules/
client/*.tsbuildinfo
client/.npm
client/.eslintcache
client/.stylelintcache
client/.node_repl_history
client/*.tgz
client.yarn-integrity
client/.env
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env.local
client.cache
client.parcel-cache
client/.next
client/out
